{% extends 'mailing/base.html' %}

{% block content %}
<div class="row flex-wrap">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" class="btn btn-secondary m-2"
                           value="{% if object %}Изменить{% else %}Добавить{% endif %}">
                </form>
            </div>
            <div class="card-footer">
                <a href="{% url 'mailing:message_list' %}" class="btn btn-outline-primary mt-3">Назад к списку
                    сообщений</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}