{% extends 'mailing/base.html' %}
{% block content %}

<div class="col-12">
    <form class="row" method="post" enctype="multipart/form-data">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        Аутентификация
                    </h3>
                    <p>Пожалуйста, введите данные для входа</p>
                    <p><a href="{% url 'users:register' %}"
                          class="link-dark link-offset-2 link-underline-opacity-25
                          link-underline-opacity-100-hover">Нет аккаунта? Зарегистрируйтесь!</a></p>
                </div>
                <div class="card-body">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success">Войти</button>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}