<div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
                <h4 class="text-white">О сервисе</h4>
                <p class="text-muted">Данный сервис предоставляет возможность управлять ежедневными, еженедельными и
                    ежемесячными рассылками. Вкладка с клиентами рассылки позволяет управлять списком
                    получателей, добавлять новых клиентов, удалять и обновлять данные. Блог
                    со статьями, в свою очередь, предоставляет полезную информацию и советы по использованию
                    рассылок для достижения наилучших результатов. В целом, данный сервис является полезным инструментом
                    для управления рассылками и повышения эффективности бизнес-коммуникации.</p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
                <h4 class="text-white">Меню</h4>
                <ul class="list-unstyled">
                    <li><a href="{% url 'mailing:home' %}" class="text-white">Главная</a></li>
                    {% if perms.mailing.view_client %}
                    <li><a href="{% url 'mailing:client_list' %}" class="text-white">Список клиентов</a></li>
                    {% endif %}
                    {% if perms.mailing.view_mail %}
                    <li><a href="{% url 'mailing:mail_list' %}" class="text-white">Список рассылок</a></li>
                    {% endif %}
                    {% if perms.mailing.view_message %}
                    <li><a href="{% url 'mailing:message_list' %}" class="text-white">Сообщения</a></li>
                    {% endif %}
                    <li><a href="{% url 'blog:list' %}" class="text-white">Блог</a></li>
                    <li><a href="{% url 'mailing:contacts' %}" class="text-white">Контакты</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'users:logout' %}" class="text-white">Выход</a></li>
                    {% else %}
                    <li><a href="{% url 'users:login' %}" class="text-white">Вход</a></li>
                    <li><a href="{% url 'users:register' %}" class="text-white">Регистрация</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>